.tile-content.type1 {
  background-color: tomato;
}

.tile-content.type1 .layer1 {
  background-color: black;
  mask-image: url(../assets/star-8.svg);
  -webkit-mask-image: url(../assets/star-8.svg);
}
